section#footer{

  p{
    color:black;
  }

  div.img-footer{
    height: 400px;
    background: url(../../assets/img/footer-Touchdeskbackground.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
  }

}
